header {
    background-image: url("assets/pattern.jpeg");
}

main {
    padding: 10px;
}

h1, h2, h3, p {
    font-family: "Helvetica", sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

/* Start of Section 1 */

.section1 > h2 {
    background-color: mediumspringgreen;
}

img[src*='hacksaw'] {
    padding: 15px 0;
}

h3 {
    color: black;
    font-weight: bold;
    text-align: left;
    font-family: "Helvetica", sans-serif;
}

.price {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    color: blue;
}

p {
    font-size: 1rem;
}

/* End of Section 1 */

/* Start of Section 2 */

.section2 > h2 {
    background-color: lightcoral;
    /*margin: 0;*/
}

img[src*='frames'] {
    padding: 15px 0;
}

/* End of Section 2 */

/* Start of Section 3 */

.section3 > h2 {
    background-color: skyblue;
}

img[src*='finnish'] {
    padding: 15px 0;
}

/* End of Section 3 */

footer {
    background-color: midnightblue;
    padding: 20px;
    color: lightblue;
}

footer > p {
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: white;
}